aiohttp==3.6.2
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
chardet==3.0.4
Django==3.0.4
gunicorn==20.0.4
idna==2.9
Markdown==2.6.6
multidict==4.7.5
pymongo==3.10.1
python-markdown-slack==1.0.6
pytz==2019.3
PyYAML==5.3.1
slackclient==2.5.0
sqlparse==0.3.1
yarl==1.4.2