{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
	<meta property="og:title" content="두유 노우 잔디? - 삼육 정원사들">
	<meta property="og:image" content="http://drive.google.com/uc?export=view&id=1ObYPXrmJ0CE4-KtCv8WVCvoy9Ys-2Ti_">
	<!-- <meta property="og:image" content="{% static 'favicon.ico' %}" /> -->
	<meta property="og:description" content="두유들의 1일 1커밋 프로젝트!">

    <title>두유 노우 잔디? - 삼육 정원사들</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}?ver=1.6.1"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

	<script src="{% static "js/common.js" %}"></script>
    <link href="{% static "css/common.css" %}" rel="stylesheet">

    {% include 'attendance/google_analytics.html' %}

</head>
<body>
	<header>
		<div class="navbar navbar-dark shadow-sm custom-nav">
			<div class="container-fluid d-flex justify-content-between">
				<a href="/" class="navbar-brand d-flex align-items-center">
				<div>
					<!-- <h1 class="title">두유 노우 잔디?</h1> -->
					<div class="title-logo"></div>
					<p class="sub-title">삼육 정원사들 Beta!</p>
				</div>    	
				</a>
			</div>
		</div>
	</header>

	<main role="main" class="flex-shrink-0">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="footer mt-auto py-3">
		<div class="container">
			<div class="text-muted">© Developer Student Clubs Sahmyook University</div>
			<div class="text-muted">Project 삼육 정원사들 (권택준, 박기홍, 배성현, 성예지)</div>
			<div class="text-muted">Thanks to <a href="https://github.com/junho85" target="_blank">June Kim</a>!</div>
			<div class="text-muted">Email : <a class="dhtgD aw5Odc" href="mailto:dsc-sahmyook@googlegroups.com" target="_blank">dsc-sahmyook@googlegroups.com</a></div>
		</div>
	</footer>

</body>
</html>