/* Font */
h2 {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

/* 출석률 그래프 */
/* .attendance_rate {
	width: 100%;
} */


.table-rank {
}

.attendance-table {
    font-size: 10px;
    text-align: center;
}

.table-today-attendance {
    text-align: center;
}

.table-today-attendance .no-show {
    font-size: 50px;
}

.attendance_date {
}



#users {
	/* display: flex; */
}
.user_wrapper {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

/* avatars */
.img_gray {
	filter: grayscale(1);
}